<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/frontend/components/carousel/">Carousel</a>
    <a href="/frontend/components/category-dropdown/">Category DropDown</a>
    <a href="/frontend/components/main-navbar/">Main NavBar</a>
    <a href="/frontend/components/tests/integrated-test/">test</a>
</body>
</html>