@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.cards {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin: 0 auto;
  align-items: space-around;
}
.card {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px rgb(193, 193, 193);
}
.card .head {
  display: flex;

  padding: 15px;
  border-bottom: 2px solid #efefef;
}
.card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 200px;
  height: 200px;
}
.card .details {
  position: relative;
}

.card img {
  width: 100%;
  max-width: 150px;
  height: auto;
  display: block;
}
.card .details {
  border-top: 2px solid #efefef;
  padding: 10px 20px;
  display: flex;
}
.card .details .name {
  font-size: 1.1rem;
}
.card .details .description {
  font-size: 0.8rem;
  color: grey;
}
.card .details .price {
  font-size: 0.9rem;
  color: green;
  margin: 0 auto;
}

.heart {
  position: relative;
  width: 20px;
  height: 20px;
  background: #bbb3b3;
  transform: rotate(45deg);
  display: inline-block;
}
.heart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: translate(-50%, 0px);
}
.heart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: translate(0px, -50%);
}
.heart:hover {
  transform: rotate(45deg) scale(1.3);
  background: red;
}
