<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <nav class="hot-bar">
        <div class="dropdown item">
            Category
            <div class="dropdown-content">
                <div class="content">
                    <div class="category">Mens Wear
                        <div class="dropdown-right">
                            <div class="category">Womens Wear</div>
                            <div class="category">Computing and Gaming</div>
                            <div class="category">Sport's and Traveling</div>
                            <div class="category">Sport's and Traveling</div>
                            <div class="category">Womens Wear</div>
                            <div class="category">Computing and Gaming</div>
                            <div class="category">Sport's and Traveling</div>
                            <div class="category">Sport's and Traveling</div>
                        </div>
                    </div>

                    <div class="category">Womens Wear
                        <div class="dropdown-right">
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Mens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Mens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Mens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Mens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Mens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Mens Wear
                                <div class="products">T-Shirt</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>
                            <div class="sub-category">
                                Womens Wear
                                <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                                <div class="products">Pant</div>
                                <div class="products">Trouser</div>
                                <div class="products">Shoes</div>
                                <div class="products">Leggings</div>
                                <div class="products">Coat</div>
                            </div>

                        </div>
                    </div>
                    <div class="category">Computing and Gaming
                        <div class="dropdown-right">
                            <div class="category">Mwns</div>
                            <div class="category">Computing and Gaming</div>
                            <div class="category">Sport's and Traveling</div>
                        </div>
                    </div>
                    <div class="category">Sport's and Traveling
                        <div class="dropdown-right">
                            <div class="category">Womenasd asds Wear</div>
                            <div class="category">Compu asd ting and Gaming</div>
                            <div class="category">Sport's and Traveling</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item big-dropdown">
            New In
            <div class="big-dropdown-content">
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Mens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Mens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Mens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>

            </div>
        </div>
        <div class="item big-dropdown">
            Hot!!
            <div class="big-dropdown-content">
                <div class="sub-category">
                    Mens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Mens Wear
                    <div class="products">T-Shirt</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>
                <div class="sub-category">
                    Womens Wear
                    <div class="products">T-Shirt asd aasd asd asd asd asd asd</div>
                    <div class="products">Pant</div>
                    <div class="products">Trouser</div>
                    <div class="products">Shoes</div>
                    <div class="products">Leggings</div>
                    <div class="products">Coat</div>
                </div>

            </div>
        </div>

        <div class="item">About</div>
        <div class="item">Contact</div>
    </nav>

</body>

</html>