@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --theme-color: black;
  --theme-background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.hot-bar {
  display: flex;
  color: var(--theme-color);
  position: relative;
  box-shadow: 0 0 2px 0 grey;
  padding: 0 20px;
  z-index: 10;
  background-color: var(--theme-background-color);

}

.hot-bar .item {
  padding: 10px;
  border-bottom: 2px solid transparent;
}
.hot-bar .item:hover {
  border-bottom: 2px solid red;
}

.dropdown {
  display: flex;
  position: relative;
}

.dropdown-content {
  display: flex;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  display: none;
  height: 70vh;
  max-height: 600px;
  min-width: 160px;
  box-shadow: 0px 0px 2px 0 grey;
  background-color: var(--theme-background-color);
  border-radius: 0 0 0 10px/ 0 0 0 10px;
}

.dropdown-content .category {
  padding: 10px;
}
.dropdown-right {
  background-color: var(--theme-background-color);

  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 10px;
  height: 100%;
  width: 60vw;
  border-radius: 0 0 10px 0/ 0 0 10px 0;
  box-shadow: 0px 0px 2px 0 grey;
  flex-wrap: wrap;
  overflow: auto;
}
.content {
  position: relative;
}
.dropdown:hover .dropdown-content {
  display: flex;
}

.category:hover {
  border-right: 2px solid red;
}
.category:hover .dropdown-right {
  display: flex;
}

.sub-category {
  display: flex;
  flex-direction: column;
  /*   margin: 10px; */
  width: 150px;
  margin-bottom: 10px;
}

.sub-category .products {
  font-size: 0.8em;
  color: grey;
  margin: 5px 0 0 10px;
  border-left: 2px solid transparent;
  padding: 0 0px 0 10px;
  cursor: pointer;
}

.sub-category .products:hover {
  border-left: 2px solid skyblue;
  color: var(--theme-color);
}

.big-dropdown-content {

  display: none;
  position: absolute;
  top: 100%;
  left: 5%;
  right: 5%;
  height: 70vh;
  width: 90%;
  box-shadow: 0px 0px 2px 0 grey;
  background-color: var(--theme-background-color);
  border-radius: 0 0 0 10px/ 0 0 0 10px;
  padding: 30px;
  flex-wrap: wrap;
  overflow: auto;
}

.big-dropdown:hover .big-dropdown-content {
  display: flex;
}
