<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
        <nav class="navbar">
                <i class="material-icons menu-icon">
                  menu
                </i>
                <div class="logo">
                  <img src="https://bhetincha.com/files/thumb/21114/200/200/fit" alt="logo">
                  <div class="text">    GrabCheap
                  </div>
                </div>
                <div class="item search right" tabindex="0">
              
                  <input type="text">
                  <i class="material-icons search-icon">
                    search
                  </i>
                </div>
                <a href="" class="  item">
              
                  <div class="group">
                    <i class="material-icons" >
                      account_circle
                    </i>
                    <div class="detail">
                      Account
                      <div class="sub">Sign In</div>
                    </div>
                  </div>
                </a>
              
                <a href="" class="item">
                  <div class="group">
                    <i class="material-icons">
                      shopping_cart
                    </i>  
                    <div class="detail">
                      Cart 
                      <div class="sub">Rs 0.0</div>
                    </div>
                  </div>
                </a>
              </nav>
</body>
</html>