@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  --theme-bg-color: #3761af;
  --theme-color: white;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  box-shadow: 0 0 2px 0 grey;
  align-items: center;
  font-size: 1em;

  background-color: #3761af;
  background-color: var(--theme-bg-color);

  color: white;
  color: var(--theme-color);
}

.navbar .item {
  padding: 10px;
  text-decoration: none;
  color: white;
  color: var(--theme-color);
}

.navbar .item.right {
  margin: 0 0 0 auto;
}



.navbar .logo {
  font-size: 1.2em;
  align-items: center;
  display: flex;
}

.navbar .logo img {
  max-width: 40px;
  margin-right: 4px;
}
.navbar .item.search {
  transition: 0.2s linear;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.navbar .item.search .search-icon {
  border-left: 1px solid grey;
  margin: 2px;
  padding-left: 10px;
  cursor: pointer;
  color: grey;
}
.navbar .item.search .search-icon:hover,.navbar .item.search select:hover {
  cursor: pointer;
  color: black;
}

.navbar .item.search input {
  width: 100%;
  padding: 6px;
  outline: none;
  border: 2px solid grey;
  max-width: 100%;
  border: 0;
}

.navbar .item .search-group {
  display: flex;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  border: 2px solid grey;
  overflow: hidden;
  background: white;

  border-color: white;
  color: var(--theme-color);
}
.navbar .item .search-group select {
  border: 0;
  margin: 2px;
  border-right: 1px solid grey;
  max-width: 5em;
  outline: none;
  color: grey;
}

.navbar .item .group {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.navbar .item .group .sub {
  font-size: 0.8em;
}

.material-icons {
  font-size: 1.8rem;
}

.menu-icon {
  display: none;
}

@media (max-width: 700px) {
  
  .menu-icon {
    display: block;
  }

  .detail,
  .logo .text {
    display: none;
  }
}
