<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="index.css">

</head>

<body>
  <nav class="navbar">
    <i class="material-icons menu-icon">
      menu
    </i>
    <div class="logo">
      <img src="logo.svg" alt="logo">
      <div class="text"> GrabCheap
      </div>
    </div>
    <div class="item search right" >
      <div class="search-group">
        <select>
          <option value="all">All</option>
          <option value="all">Mens</option>
          <option value="all">Womens</option>
          <option value="all">Winter</option>
          <option value="all">Summer</option>
        </select>
        <input type="text" placeholder="Search">
        <i class="material-icons search-icon">
          search
        </i>
      </div>
    </div>


    <a href="" class="  item">

      <div class="group">
        <i class="material-icons">
          account_circle
        </i>
        <div class="detail">
          Account
          <div class="sub">Sign In</div>
        </div>
      </div>
    </a>

    <a href="" class="item">
      <div class="group">
        <i class="material-icons">
          shopping_cart
        </i>
        <div class="detail">
          Cart
          <div class="sub">Rs 0.0</div>
        </div>
      </div>
    </a>

    
  </nav>
</body>

</html>